@using Microsoft.AspNetCore.Components.Web
@using veritheia.Web.Components.Layout
@inherits LayoutComponentBase

<div class="app">
    <div class="app-container">
        <SidebarNavigation />
        <main class="main-content">
            <TopBar />
            <div class="content-area">
                @Body
            </div>
        </main>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>