<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="veritheia.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <ErrorBoundary>
        <ChildContent>
            <Routes @rendermode="InteractiveServer" />
        </ChildContent>
        <ErrorContent>
            <div class="alert alert-danger m-3">
                <h4>An error has occurred</h4>
                <p>Something went wrong. Please check the server console for details.</p>
            </div>
        </ErrorContent>
    </ErrorBoundary>
    <script src="_framework/blazor.server.js"></script>
</body>

</html>
